body {
  box-sizing: border-box;
  font-family: "Noto";

  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}
.nav-fixed {
  position: fixed;
  width: 100%;
  height: 120px;
  background-color: rgb(163, 40, 61);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 3px solid rgb(240, 180, 140);
  z-index: 100;
  transition: all ease-in-out 0.3s;
}
.nav-fixed-active {
  height: 70px;
  border-bottom: 10px solid white;
}
.nav-left {
  display: flex;
  justify-content: left;
  align-items: center;
}
.nav-left li {
  display: flex;
  list-style: none;
  width: 6rem;
  font-size: 16px;
  justify-content: center;
}
.nav-left li a {
  display: flex;
  list-style: none;
  width: 6rem;
  height: 100%;
  font-size: 18px;
  justify-content: center;
  line-height: 50px;
  text-decoration: none;
  color: white;
  transition: all ease-in-out 0.2s;
  margin-right: 10px;
}
.nav-left li a:hover {
  background-color: rgb(126, 31, 47);
}
.nav-left li a:active {
  background-color: rgb(209, 96, 81);
}

.logo,
.nav-left,
.nav-right {
  width: 32%;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
}
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  font-size: 18px;
}
.search-icon {
  margin-right: 14px;
  transform: translateY(2px);
  color: white;
  z-index: 2;
}
.search-icon.active {
  color: #a3283e;
}
.search-icon:hover {
  cursor: pointer;
}
.signin-button {
  width: 10rem;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: rgb(209, 96, 81);
  border-radius: 30px;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
}
.signin-button.active {
    width: 8rem;
    display: flex;
    height: 30px;
}
.signin-button:hover {
  background-color: white;
  color: #c3314b;
  cursor: pointer;
}
.input-search {
  display: flex;
  width: 0;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  font-size: 14px;
  border: none;
  padding: 0 6px;
  right: 170px;
  top: 24px;
  opacity: 0;
  transition: all cubic-bezier(0.62, -0.37, 0.39, 1.46) 0.6s;
}
.inpute-search-active {
  width: 10rem;
  opacity: 1;
}
.logo-text {
  font-size: 20px;
}
.tv-icon {
  font-size: 50px;
  transform: translateY(-5px);
}
.input-search:focus {
  outline: none;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  background-color: #a3283e;
  color: rgb(240, 180, 140);
  border-top: 3px solid rgb(240, 180, 140);
}
.banner-main {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./img/slider1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.logo-in-banner {
  font-size: 100px;
  font-weight: 300;
  margin-bottom: 30px;
}
.h1-in-banner {
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 8px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}
.h5-in-banner {
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  transform: translateY(-15px);
}
.join-for-free {
  width: 15rem;
  height: 3.8rem;
  border-radius: 50px;
  border: none;
  margin-top: 20px;
  padding: 0;
  background-color: #d160513a;
  border: 2px solid white;
  color: white;
  font-weight: 900;
  font-size: 1.1rem;
  letter-spacing: 2px;
  transition: ease-in-out all 0.2s;
}
.back-to-all{
    width: 20rem;
}
.join-for-free:hover {
  cursor: pointer;
  background: #d160518a;
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 50px;
}

.arrows path {
  stroke: #d1605194;
  fill: transparent;
  stroke-width: 2px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}

.content {
  background-color: white;
  padding: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: left;
}
.card-main {
  width: 15rem;
  height: 22rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  background-position: center center;
  background-size: 100% 100%;
  object-fit: fill;
  border: 15px solid white;
  transition: all ease-in-out 0.2s;
  background-repeat: no-repeat;
}
.card-small {
    width: 11rem;
    height: 17rem;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: space-between;
    align-items: center;
    background-position: center center;
    background-size: auto 100%;
    object-fit: fill;
    border: 1px solid #6d362f;
    z-index: 10;
    background-repeat: no-repeat;

}    
.card-main:hover {
    transform: scale(0.95);

  }

.card-heading {

  color: white;
  height: 3rem;
  display: flex;
  background-color: rgba(0, 0, 0, 0.692);
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  padding: 10px;
}
.card-details {
    display: flex;
    color: white;
    height: 3rem;
    display: flex;
    background: #7ca328;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 300;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    text-decoration: none;
    transition: all cubic-bezier(1, -0.47, 0, 1.48) 0.3s;
  
  }
  .card-details:hover {
    height: 8rem;
    background-color: rgba(163, 40, 60, 0.849);
    text-transform: uppercase;
    cursor: pointer;
  }

.card-hover {
  color: white;
  height: 100%;
  display: flex;
  background: #000000bd;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  text-align: center;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  transform: translateY(250px);
  opacity: 0;
}
.card-hover-active {
  transform: translateY(0);
  opacity: 1;
}

.heading {
  width: 100%;
  padding: 10px 20px 40px 20px;
}
.card-hover span {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 2rem;
}
.description-holder{
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    height: auto;
    padding-top: 7rem;
    padding-left: 2rem;
    
}
.show-description{
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    text-align: left;
    line-height: 1.4rem;
}

.imdb-img {
    display: flex;
    width: 6rem;
    height: auto;
    border-radius: 5px;
    transition: all ease-in-out 0.15s;
}
.imdb-img:hover {
    box-shadow: 0 0 8px 0 rgb(98, 98, 98);
    transform: scale(1.07);
    cursor: pointer;
}
.genres, .language, .premiered, .website{
  display: flex;
  flex-basis: 9rem;
  flex-wrap: wrap;
  flex-direction: column;
}
.imdb-holder{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.imdb-flex{
  display: flex;
  flex-basis: 9rem;
}
.span-genres{
  color: #a3283e;
}
.cast-all {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: left;
}
.list{
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

}
.cast-title{
  padding: 3rem 0 1rem 0;
  text-transform: uppercase;
  font-size: 2rem;
  border-bottom: 1px solid #d160518e;
  margin-bottom: 1rem;
}
.list-item{
  list-style-type: none;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #e7e4e4;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 400;
  flex-direction: column;
  width: 12rem;
  margin-bottom: 2rem;
  text-align: center;
  color: rgb(54, 53, 53);list-style-type: none;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
 background-color: #e7e4e4;
  padding: 1rem ;
  font-weight: 400;
  flex-direction: column;
  width: 13rem;
  margin-bottom: 2rem;
  text-align: center;
  color: rgb(54, 53, 53);
}
.person-image{
  height: 13rem;
  width: 8rem;
  object-fit: cover;
  padding-top: 1.5rem;
  box-shadow: 13px 17px 15px -12px #767676;
}

.character{
  font-size:1rem;
  padding-top: 1rem;
  color: #a3283e;
  font-style: italic;
}
.character span{
  color: black;
  font-size: 0.8rem;
}